/* Header*/

.main-container {
  max-width: 80vw;
  height: 100vh;
  /*"margin-left" empurra para a direita e o "margin-right" empurra para a esquerda*/
  margin-left: 360px;
  margin-right: 5px;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 11.5px;
  border-radius: 8px;
  background-color: #181735;
}

.header__navigation .navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*O "rem" é uma unidade de medida que, diferente do "px", não é estático, não tem um valor fixo. Ele é uma unidade relativa e depende de outras coisas para determinar o seu tamanho. Isso ajuda na responsividade da página.*/
.header__navigation .navigation .arrow-left {
  margin-right: 1.25rem;
}

.arrow-left,
.arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: #100f29ab;
  background-color: #100f29ab;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.header__login {
  display: flex;
  align-items: center;
}

.header__search {
  display: flex;
  align-items: center;
  width: 364px;
  height: 48px;
  margin-left: 8px;
  background-color: #100f29ab;
  border-radius: 500px;
  border: 1px solid transparent;
}

.header__search img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.header__search input {
  background: transparent;
  border: none;
  padding: 0 100px 0 12px;
  color: #fff;
  /*Quando tem um texto muito grande, com o "text-overflow" aparece os três pontinhos ...*/
  text-overflow: ellipsis;
  /*Não deixa estourar o campo de input*/
  overflow: hidden;
  /*Sem quebrar linhas. O texto vai ficar em uma linha só.*/
  white-space: nowrap;
  /*Tira a borda do texto de input*/
  outline: none;
}

.header__login .subscribe {
  color: #dfdfdf;
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  margin-right: 32px;
}

.header__login .login {
  width: 100px;
  height: 48px;
  color: #111025;
  font-size: 16px;
  font-weight: 700;
  border-radius: 40px;
}

.playlist-container {
  height: 68vh;
  padding-top: 16px;
  margin: 11.5px;
  border-radius: 10px;
  background-color: #181735;
}

.playlist {
  margin: 24px;
}

.playlist #greeting {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}

.playlist .session {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.offer__scroll-container {
  max-height: 50vh;
  margin: 24px;
  overflow-y: auto;
}

.offer__scroll-container::-webkit-scrollbar {
  width: 1px;
}

.offer__scroll-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.offer__list-item {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  gap: 16px;
  margin-bottom: 16px;

  /* CODIGO COM JS CALCULANDO OS CARDS POR COLUNA */
  display: grid;
  gap: 16px;
  grid-gap: 32px;
  margin: 0 auto;
}

.cards {
  position: relative;
  width: 220px;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}

.cards span {
  padding: 16px;
  position: absolute;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.card1 {
  background: linear-gradient(to top, rgb(233, 20, 41), #49a861);
}
.card2 {
  background: linear-gradient(to top, rgb(132, 0, 231), #ab7bb9);
}
.card3 {
  background: linear-gradient(to bottom, rgb(30, 50, 100), #8275b1);
}
.card4 {
  background: linear-gradient(to top, rgb(140, 25, 50), #cf5b74);
}
.card5 {
  background: linear-gradient(to bottom, rgb(232, 17, 91), #9012b6);
}
.card6 {
  background: linear-gradient(to top, rgb(83, 122, 161), #1a0a61);
}
.card7 {
  background: linear-gradient(to bottom, rgb(142, 102, 172), #21bfdb);
}
.card8 {
  background: linear-gradient(to top, rgb(20, 138, 8), #c7ec42);
}
.card9 {
  background: linear-gradient(to bottom, rgb(30, 50, 100), #d8be49);
}
.card10 {
  background: linear-gradient(to top, rgb(110, 52, 5), #e0dbc8);
}
.card11 {
  background: linear-gradient(to bottom, rgb(97, 63, 97), #000000);
}
.card12 {
  background: linear-gradient(to top, rgb(216, 64, 0), #f0ed55);
}
.card13 {
  background: linear-gradient(to bottom, rgb(186, 93, 7), #0d662f);
}
.card14 {
  background: linear-gradient(to top, rgb(0, 30, 80), #0d662f);
}
.card15 {
  background: linear-gradient(to bottom, rgb(60, 30, 80), #8d918e);
}

.offer__list-item img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: auto;
  width: 107px;
  transform: rotate(25deg) translate(18%, -2%);
}

.artist {
  --column-count: 5;
  --grid-gap: 24px;
  --min-container-width: 372px;
}

.hidden {
  display: none;
}

.grid-container {
  grid-gap: 24px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  min-width: 767px;
}

.artist-card {
  background: #100f29ab;
  border-radius: 8px;
  -ms-flex: 1;
  flex: 1;
  isolation: isolate;
  padding: 16px;
  position: relative;
  transition: background-color 0.3s ease;
  width: 100%;
}

.artist-card:hover {
  background-color: #2c365a;
}

.card-img {
  padding-bottom: 100%;
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.artist-img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 50%;
}

.card-text {
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 62px;
}

.card-text a {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.artist-name {
  box-sizing: border-box;
  margin-block: 0px;
  font-size: 16px;
  font-weight: 700;
  padding-block-end: 8px;
}

.artist-categorie {
  color: #dfdfdf;
  font-weight: 400;
  font-size: 0.875rem;
}

.play {
  position: relative;
}

.play .fa-play {
  position: absolute;
  right: 10px;
  top: 120px;
  padding: 18px;
  background-color: #14a3bd;
  border-radius: 100%;
  font-size: 14px;
  opacity: 0;
  transition: all ease 0.4s;
}

.artist-card:hover .play .fa-play {
  opacity: 1;
  transform: translateY(-20px);
}

.play .fa-play:hover {
  padding: 20px;
  cursor: pointer;
}

#result-artist {
  padding: 20px 40px;
}
